{% extends 'base.html' %}
{% block signup_button %}
<div class="signup-button">
  <a class="btn btn-primary btn-lg shadow-lg" href="/logout/" style="margin-right:12px;" role="button">
    Logout
  </a>
  
</div>
{% endblock %}

{% block title %}Author - KJSIT Conference Management System{% endblock %}

{% block additional-css %}
 .title-column{
  width:500px;
  font-weight:normal;
 }

 .title-column-2{
  width:500px;
  font-weight:normal;
  color:black;
  text-align:left;
 }
 .status-column{
  text-allign:center;
  font-weight:normal;
  margin-right:30px;
 }
 .past-submissions{
  margin-top:0px;
  flex:auto;height:fit-content;
  width:fit-content;
  margin-top:35px;
  margin-left:5px;
  border-radius:10px ;
  background-color:white;
  text-align:center;
  font-size: 20px;
  font-weight:bold;
  color:#494F55;
}
.tabs{
  width:fit-content;
  margin-top:30px;
  flex:auto;
}

.status-colors{
  height:fit-content;width:250px;background-color:white;margin-top:5px;
}
 @media only screen and (max-width: 430px){
  .main-body{
    display:flex;
    background-color:#f2f2f2;
    justify-content:center;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    flex-wrap:wrap;
  }
  .past-submissions{
    margin-top:0px;
    flex:auto;height:fit-content;
    width:fit-content;
    margin-left:5px;
    border-radius:10px ;
    background-color:white;
    text-align:center;
    font-size: 20px;
    font-weight:bold;
    color:#494F55;
  }
   a {
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    margin-top:30px;
    flex:auto;
  }
  .status-colors{
    height:fit-content;
    width:250px;
    background-color:white;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
  }
 }


{% endblock additional-css %}
{% block content %}
  <div class="row" id="conf-header" style="background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));margin-top:100px;height:350px;">
    <center><h1 style="color:white;margin-top:30px;">{{conference.conferenceTitle}}</h1></center>
    <center><h3 style="color:white;margin-top:30px;">Last Date of Submission : {{conference.submission_deadline}}</h3></center>
  </div>  
  <center>
   <button type="button-danger" style="width:250px;height:60px;margin-top:30px" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
     &nbsp;<i class="fas fa-add"></i>
     &nbsp;Submit New 
   </button>
  </center>

  <center>
    {% if is_registered != True %}
    <button onclick="window.location.href = 'register_author/'" type="button-danger" style="width:250px;height:60px;margin-top:30px" class="btn btn-danger" >
      &nbsp;<i class="fas fa-receipt"></i>
      &nbsp;Register
    </button>
    {% endif %}
   </center>

  <div class="main-body" style="display:flex;background-color:#f2f2f2;justify-content:center;width:fit-content;margin-left:auto;margin-right:auto;">
    
    <div class="tabs">
      {% for paper in uploadedpapers %}
      <a style="height:60px;width:250px;text-align: left;font-size: 20px;border-left: 5px solid red;font-weight:bold;color:#494F55;margin-top:5px;display:block;background-color:white"  href="{{paper.id}}" target="blank">
        <div style="padding-top:15px; ">
        &nbsp;&nbsp;&nbsp;<i class="fas fa-pager" style=""></i>
        &nbsp;Past Submissions
        </div>
      </a>
      {% endfor%}
            <!-- Button trigger modal -->
      <div class="status-colors">
        <table style="margin-left:auto;margin-right:auto;margin-bottom:30px;">
          <tr >
            <th><span style="height: 10px;
              width: 10px;
              background-color: blue;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;
              margin-right:10px;" class="dot"></span></th>
            <th style="font-weight:normal;">Submitted</th>  
            <th><span style="height: 10px;
              width: 10px;
              background-color: limegreen;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;
              margin-right:10px;" class="dot"></span></th>
            <th style="font-weight:normal;">Accepted</th>  
          </tr>
          <tr>
            <th><span style="height: 10px;
              width: 10px;
              background-color: yellow;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;" class="dot"></span></th>
            <th style="font-weight:normal;">Under Scrutinity</th>  
          </tr>
          <tr>
            <th><span style="height: 10px;
              width: 10px;
              background-color: red;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;" class="dot"></span></th>
            <th style="font-weight:normal;">Rejected</th>  
          </tr>
        </table>
      </div>
      <!-- Modal for submitting paper-->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#a70000;color:#fff;">
              <h5 class="modal-title" style="margin-left:10px;" id="exampleModalLabel">Upload New Paper</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form enctype="multipart/form-data"  action="submit_paper/" method='POST'>
                {% csrf_token %}
                <div  style=" display: flex;flex-direction: row;"class="form-row">
               
                  <div style="width:100%" class="form-floating mx-1 mb-3 ">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="track"required>
                      {% for track in tracks %}
                      <option value="{{track.title}}">{{track.title}}</option>
                      {% endfor %}
        
                    </select>
                    <label for="floatingSelect">Tracks</label>
                  </div>
               
                </div>
            
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" name="title" placeholder="name@example.com" required>
                  <label for="floatingInput">Title</label>
                </div>
            
                <div class="form-floating  mb-3">
                  <textarea class="form-control" placeholder="Leave a comment here" name="abstract" id="floatingTextarea2" style="height: 100px" required></textarea>
                  <label for="floatingTextarea2">Abstract</label>
                </div>
            
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" name="keywords" placeholder="name@example.com" required>
                  <label for="floatingInput">Key Words</label>
                </div>
            
                {% comment %} <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" name="other-authors" placeholder="name@example.com" >
                  <label for="floatingInput">Other Authors(If any)</label>
                </div> {% endcomment %}

                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="authorInput" placeholder="Enter author email">
                  <label for="authorInput">Other Authors' Emails (If any)</label>
                  <button type="button" class="btn btn-primary mt-2" id="addAuthorBtn">Add Author</button>
                </div>
                
                <div id="authorsList" class="mb-3">
                  <!-- Dynamic list of authors will appear here -->
                </div>
                
                <input type="hidden" name="other-authors" id="otherAuthorsInput">



            
            
                <div class="row" style="margin-top: 50px; margin-bottom: 20px;display: flex;flex-direction: row; ">
                  <div  class="form-floating" style=" text-align:center; margin-left:20px;">
                    <input type="file" name="paper" class="form-control" id="floatingInput17" placeholder="Firstname" style="width: 95%" required>
                    <label for="floatingInput17" style="margin-left: 10px;">Upload</label>                            
                  </div>
               
                
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="past-submissions" >
      <table style="margin-bottom:5px;border-collapse:separate; 
      border-spacing: 0 1em;">
        <tr>
          <th class="title-column">Title</th>
          <th style="font-weight:normal;padding-right:30px;">Status</th>
          <th style="font-weight:normal;padding-right:30px;">Action</th>
        </tr>
        {% for paper in uploadedpapers %}
        <tr >
          <th class="title-column-2">&nbsp;&nbsp;{{paper.papertitle}}</th>
          {% if paper.status == 'submitted'%}
          <th style="font-weight:normal;padding-right:30px;">
          <span style="height: 10px;
            width: 10px;
            background-color: blue;
            border-radius: 50%;
            display: inline-block;
            margin-top:2px;
            margin-right:10px;" class="dot">
          </span>
          </th>
          {% elif paper.status == 'under_review' %}
          <th style="font-weight:normal;padding-right:30px;">
            <span style="height: 10px;
              width: 10px;
              background-color: yellow;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;
              margin-right:10px;" class="dot">
            </span>
          </th>
          {% elif paper.status == 'Rejected due to Plagarism' %}
          <th style="font-weight:normal;padding-right:30px;">
            <span style="height: 10px;
              width: 10px;
              background-color: red;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;
              margin-right:10px;" class="dot">
            </span>
          </th>
          {% elif paper.status == 'rejected' %}
          <th style="font-weight:normal;padding-right:30px;">
            <span style="height: 10px;
              width: 10px;
              background-color: red;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;
              margin-right:10px;" class="dot">
            </span>
          </th>
          {% elif paper.status == 'Desktop Rejected' %}
          <th style="font-weight:normal;padding-right:30px;">
            <span style="height: 10px;
              width: 10px;
              background-color: red;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;
              margin-right:10px;" class="dot">
            </span>
          </th>
          {% elif paper.status == 'accepted' %}
          <th style="font-weight:normal;padding-right:30px;">
            <span style="height: 10px;
              width: 10px;
              background-color: limegreen;
              border-radius: 50%;
              display: inline-block;
              margin-top:2px;
              margin-right:10px;" class="dot">
            </span>
          </th>
          {% endif %}
          {% if paper.status == 'accepted' or paper.status == 'rejected' or paper.status == "Rejected due to Plagarism"%}
          <th style="font-weight:normal;padding-right:30px;margin-bottom:5px;">
          
          <button type="button" style="margin-top:5px;" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#viewreview{{paper.id}}">
            View Review
          </button>
          
          

          <div class="modal fade" id="viewreview{{paper.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Reviews for {{paper.papertitle}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  {% if not is_registered %}
                  <a href="{}" class="btn btn-warning">Proceed to Payment</a>
                {% else %}
                
                  <table style="text-align:left;padding-bottom:30px;padding-left:10px;padding-right:10px;">
                    
                    {% for review in reviews  %}
                    {% if review.paper.id == paper.id%}
                    
                    <tr>
                      <th> Relevance </th>
                      <th>{{review.relevance}}</th>
                    </tr>
                    <tr>
                      <th> Writing Style </th>
                      <th>{{review.writingStyle}}</th>
                    </tr>
                    <tr>
                      <th>Result Analysis</th>
                      <th> {{review.reviewerConfidence}}</th>
                    </tr>
                    <tr>
                      <th>Comments</th>
                      <th> {{review.comments}}</th>
                    </tr>
                    <tr>
                      <th>Suggested Mode of Preparation</th>
                      <th> {{review.modeOfPreparation}}</th>
                    </tr>
                    <tr>
                      <th>Overall Evaluation</th>
                      <th> {{review.score}}</th>
                    </tr>
                    <tr>
                      <td colspan="2">
                          <hr style="border-top: 3px solid #ccc; margin: 10px 0;">
                      </td>
                  </tr>

                    {% endif %}
                    {% endfor %}

                    {% if paper.status == "Rejected due to Plagarism"%}
                       <!-- Paper does not have reviews -->
                       <p>This paper was rejected by the program chair as it got high plagarism. Kindly check and perform the neccesary changes and resubmit.</p>
                    {% endif %}   
                   
                  
                  
                </table>
                {% endif%}
                </div>    
                <div class="modal-footer">
                  {% if paper.status == "rejected" or paper.status == "Rejected due to Plagarism"%}
                  <button type="button" class="btn btn-success" data-bs-target="#exampleModalToggle2{{paper.id}}" data-bs-toggle="modal" >Resubmit</button> 
                  
                  {% endif %}
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalToggle2{{paper.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Resubmit Paper</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post" action="resubmit_paper/{{paper.id}}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row" style="margin-top:10px;">
                        <div class="form-floating" style=" text-align:center; margin-left:20px;">
                          <input type="text" name="title" class="form-control" id="floatingInput1" placeholder="Firstname" style="width: 95%" required value="{{paper.papertitle}}" disabled>
                          <label for="floatingInput1" style="margin-left: 10px;">Title</label>                            
                        </div>
                      </div>
                      
                      <div class="row" style="margin-top:10px;">
                      <div class="form-floating  mb-3" style="margin-left:20px;">
                        <textarea class="form-control" placeholder="Leave a comment here" name="abstract" id="floatingTextarea2" style="height: 100px;width:95%"  required>{{paper.abstract}}</textarea>
                        <label for="floatingTextarea2">Abstract</label>
                      </div>
                      </div>
                    
                      <div class="row" style=" margin-bottom: 20px;display: flex;flex-direction: row; ">
                        <div  class="form-floating" style=" text-align:center; margin-left:20px;">
                          <input type="file" name="paper" class="form-control" id="floatingInput17" placeholder="Firstname" style="width: 95%" required>
                          <label for="floatingInput17" style="margin-left: 10px;">Upload</label>                            
                        </div>
                      </div>
                      
                      <button type="submit" class="btn btn-success">Resubmit Paper</button> 
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div> 
          </th>
          
          {% else %}
          {% if paper.status == "Desktop Rejected" %}
          <th style="color:red;">
            <h5 style="margin-right:5px;">
            Desktop Rejected
            </h5>
          </th>
            {% else %}
          <th style="font-weight:normal;padding-right:30px;margin-bottom:5px;">
            
            <a class="btn btn-danger btn-md shadow-lg" href="unsubmit_paper={{paper.id}}/" style="margin-right:12px;" role="button">
              Unsubmit
            </a>
          </th>
          {% endif %}
          {% endif %}
          
        </tr>
        {% endfor %}
        
      </table>
      
    </div> 
    
 

<script>

document.addEventListener("DOMContentLoaded", function() {
  const addAuthorBtn = document.getElementById("addAuthorBtn");
  const authorsList = document.getElementById("authorsList");
  const otherAuthorsInput = document.getElementById("otherAuthorsInput");
  let authors = [];

  addAuthorBtn.addEventListener("click", function() {
    const authorInput = document.getElementById("authorInput");
    const authorName = authorInput.value.trim();

    if (authorName && authors.length < 8) {
      authors.push(authorName);
      
      // Create a list item for the author
      const listItem = document.createElement("div");
      listItem.className = "author-item d-flex justify-content-between align-items-center mb-2";
      listItem.textContent = authorName;

      // Add a remove button to the list item
      const removeBtn = document.createElement("button");
      removeBtn.className = "btn btn-danger btn-sm";
      removeBtn.textContent = "Remove";
      removeBtn.addEventListener("click", function() {
        authorsList.removeChild(listItem);
        authors = authors.filter(author => author !== authorName);
        updateAuthorsInput();
      });

      listItem.appendChild(removeBtn);
      authorsList.appendChild(listItem);

      // Update the hidden input value
      updateAuthorsInput();

      // Clear the input field
      authorInput.value = "";
    }
  });

  function updateAuthorsInput() {
    otherAuthorsInput.value = authors.join(",");
  }
});



</script>



{% endblock content %}

