<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0,maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    {%load static  %}
    
    <title>{% block title %}KJSIT Conference Management System{% endblock %}</title>
    <!-- Add your CSS and JS files here -->
    <style>
      


body{
overflow-x:hidden;
margin-top:100px;
background-color:#f2f2f2;

}

@media only screen and (max-width: 430px){
    .brand_for_laptop{
      display:none;
    }

    body{
        width:97vw;
    }
    
  }



{% block additional-css %}

{% endblock additional-css %}
</style>    
</head>
<body >
    <nav class="navbar fixed-top navbar-inverse " style="height:96px; background-color: #a70000; box-shadow: 0px 5px  #ff0000 ">
           
        <div style="margin-right:1%; margin-left:3%;">
        {% if request.user.is_authenticated %}
        <a href="http://127.0.0.1:8000/profile/" class="profile-link btn btn-success btn-lg shadow-lg" title="Go to Profile">
            <i class="fas fa-user-circle fa-2x"></i>
        </a>
        {%else%}
        <a href="" class="profile-link btn btn-primary btn-lg shadow-lg" title="Go to Profile">
                <i class="fas fa-user-circle fa-2x"></i>
        </a>
        {% endif %}
        </div>
        <div class="container">

              <a class="navbar-brand" style="font-family:Roboto; color:WHITE; font-weight:600;align-items:center; display:flex;" >
                <img src="https://tnpportal.kjsieit.in/static/img/logo2.jpg" alt="Bootstrap" width="80" height="50" style="margin-right:15px;">
                <div class="brand_for_laptop">Conference Management System</div>
                
            </a>



            

            {% block signup_button %}
            {% comment %} if sigup buttn add over here {% endcomment %}
            {% endblock signup_button %}
            
            </div>
        </nav>      
        {% for message in messages %}
            <div aria-live="polite" aria-atomic="true" class="bg-primary position-relative bd-example-toasts rounded-3 ">
                <div class="toast-container p-3" id="toastPlacement_{{ forloop.counter }}">
                    <div class="toast">
                        <div class="toast-header">
                            <strong class="me-auto">CMS</strong>
                        </div>
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% comment %} <!-- Add your navigation links here -->
        <ul>
            <li><a href="{% url 'CMS:index' %}">Home</a></li>
            <li><a href="{% url 'CMS:conferences' %}">Conferences</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'CMS:profile' %}">Profile</a></li>
                <li><a href="{% url 'CMS:view_user_papers' %}">Your Contributions</a></li>
                <li><a href="{% url 'CMS:logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'CMS:login' %}">Log In</a></li>
                <li><a href="{% url 'CMS:signup' %}">Sign Up</a></li>
            {% endif %}
        </ul> {% endcomment %}

    <main>
        {% block content %}
        <!-- Content for each page will go here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
        {% comment %} <p>&copy; 2023 KJSIT Conference Management System. All rights reserved.</p> {% endcomment %}
        <div class="about-container" id="about_us" style=" background-color: rgba(231,232,233,0.3); height : 400px; width : auto ;">
            <center>
            <div class="about-container-main" style="padding: 75px 0px 30px 0px ; display:flex;max-width:fit-content;">
              <div class="company-name" style="flex: 25%; font-family: 'Poppins', sans-serif; color: aliceblue;max-width:fit-content;">
                <div class="contact" style="  padding-left: 25px;
                padding-top: 10px;
                color:#000;
                max-width:fit-content;">
                Contact-us :<br>
                91-22-24061408<br>
                91-22-24061403<br>
                info.tech@somaiya.edu
                </div>
              </div>
              <div class="company-details" style="flex:75%;
              font-family: 'Poppins', sans-serif;
              color: #000;padding: 20px;
              letter-spacing: 1px;
              max-width:fit-content;">
                <img src="https://tnpportal.kjsieit.in/static/img/logo2.jpg" style="width:100px;">
              </div>
            </div>
            </center>
            <div class="line" style=" height: 1px;
            flex: 1;
            background-color: #ff0000;
            margin-left: 200px;
            margin-right: 200px;">
            </div>
            <center>
                <p style="padding-top: 20px;letter-spacing: 1px;">
                &copy; 2023 KJSIT Conference Management System. All rights reserved.
                </p>
            </center>
          </div> 
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(function (toast) {
            toast.show()
        })
    });
    </script>
    {% block additional-script %}
    {% endblock additional-script %}
   
</body>
</html>