{% extends 'base.html' %}

{% block title %}Program Chair View - KJSIT Conference Management System{% endblock title %}

{% block signup_button %}
<div class="signup-button">
  <a class="btn btn-primary btn-lg shadow-lg" href="/logout/" style="margin-right:12px;" role="button">
    Logout
  </a>
  
</div>
{% endblock %}

{% block additional-css %}
@media only screen and (max-width: 770px) {
    .col{
      min-width:-webkit-fill-available;
      margin-bottom:10px;
    }
}
.title-column{
    width:500px;
    font-weight:normal;
   }
  
   @media only screen and (max-width: 430px){
    .main-body{
      display:flex;
      background-color:#f2f2f2;
      justify-content:center;
      width:fit-content;
      margin-left:auto;
      margin-right:auto;
      flex-wrap:wrap;
      flex-direction:column;
    }
  
   
  }
{% endblock additional-css %}
{% block content %}
    <div class="row" id="conf-header" style="background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));margin-top:100px;height:300px;">
       <center><h1 style="color:white;margin-top:30px;">{{conference.conferenceTitle}}</h1></center>
       <center><div class="options" role="group" style="height:50px;width:100px;border-radius:10px;display:flex;justify-content:center;">
        <div class="px-3">
          <button type="button" style="width:100px;" class="btn btn-light shadow-lg" data-bs-toggle="modal" data-bs-target="#myModal2">
           Add<br>Track
          </button>
        </div>
        <div class="px-3">
          <button type="button" style="width:100px;" class="btn btn-light shadow-lg" data-bs-toggle="modal" data-bs-target="#myModal3">
           Invite Reviewer
          </button>
        </div>
        <div class="px-3">
          <button type="button" style="width:100px;" class="btn btn-light shadow-lg" data-bs-toggle="modal" data-bs-target="#myModal1" >
           Edit Conference
          </button>
        </div>
       </div>
    </div>  
    <div class="main-body" style="display:flex;background-color:#f2f2f2;margin-left:auto;margin-right:auto;width:fit-content;margin-bottom:30px;align-items:center;">
        <div class="tab" style="margin-top:30px;background-color:white;max-width:fit-content;flex:auto;height: max-content;">
            <ul class="nav flex-column">
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event,'papers') " id="defaultOpen" style="width:250px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-pager"></i>  
                &nbsp;Submitted Papers
              </button>
            </li>
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event, 'Peoples')" style="width:250px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-people-group"></i>  
                &nbsp;Peoples
              </button>
            </li>
            </ul>
          </div>

        <div class="content-main" style="margin-left:10px;width:-webkit-fill-available;flex:auto;margin-top:30px;background-color:white;">
            <div id="papers" class="tabcontent">
              <table style="margin-bottom:5px;">
                <tr>
                  <th class="title-column">&nbsp;&nbsp;(Title with link of paper)</th>
                  <th style="font-weight:normal;padding-right:30px;">
                    <button type="button" style="margin-top:5px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      (Assign Reviewer or View Review)
                    </button>
                  </th>
                </tr>
              </table>
            </div> 
            <div id="Peoples" class="tabcontent" >
                <div class="aboutconference" style="background-color:white;">
                    <a style="min-height:60px;text-align: left;font-size: 20px;border-left: 5px solid red;font-weight:bold;font-size:30px;color:red;display:block;margin-right:1opx;">&nbsp;Authors</a>
                    <div class="text" style="margin:15px;">
                      <center>
                        <h6 style="text-align:left; padding-bottom:30px;padding-left:10px;padding-right:10px;">
                          (Authors)
                        </h6>
                      </center>
                    </div>
                 </div>
                 <div class="about-institute"  style="background-color:white;">
                  <a style="min-height:60px;text-align: left;font-size: 20px;border-left: 5px solid red;font-weight:bold;font-size:30px;color:red;margin-top:5px;display:block;margin-right:10px;">&nbsp;Reviewers</a>
                  <div class="text" style="margin:15px;"> 
                    <center>
                      <h6 style="text-align:left;padding-bottom:30px;padding-left:10px;padding-right:10px;">
                        (Reviewers)
                      </h6>
                    <center>
                  </div>    
                 </div> 
            </div> 
        </div> 
     
    </div> 
    {% comment %} Modal to edit conference {% endcomment %}
    <div class="modal fade dark-modal" id="myModal1" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#a70000;color:#fff;">
              <h5 class="modal-title" style="margin-left:10px;" id="exampleModalLabel">Edit Conference Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cl"></button>
            </div>
            <div class="modal-body" style="overflow-x:hidden;">
              <form enctype="multipart/form-data"  method='POST' action="/conference/{{conference.id}}/programChair/editConference/" >
              {% csrf_token %}
              <div class="row" style="margin-top:10px;">
                <div class="form-floating" style=" text-align:center; margin-left:20px;">
                  <input type="text" name="title" class="form-control" id="floatingInput1" placeholder="Firstname" style="width: 95%" required value="{{conference.conferenceTitle}}" disabled>
                  <label for="floatingInput1" style="margin-left: 10px;">Title</label>                            
                </div>
              </div>
              <div class="row" style="margin-top:10px;">
                <div class="form-floating" style=" text-align:center; margin-left:20px;">
                  <input type="text" name="institute" class="form-control" id="floatingInput2" placeholder="Firstname" style="width: 95%" required value="{{conference.organizing_institute}}" disabled>
                  <label for="floatingInput2" style="margin-left: 10px;">Organizing Institute</label>                            
                </div>
              </div>
              <div class="row" style="margin-top:10px;">
                <div class="col">
                  <div class="form-floating" style=" text-align:center; margin-left:20px;">
                    <textarea type="text" name="aboutInstitute" class="form-control" id="floatingInput3" placeholder="Firstname" style="min-height: 130px; width: 95%;" >{{conference.institute_details}}</textarea>
                    <label for="floatingInput3">About Institute</label>                            
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating" style=" text-align:center; margin-left:20px;">
                    <textarea type="text" name="aboutConference" class="form-control" id="floatingInput4" placeholder="Firstname" style="min-height: 130px; width: 95%;">{{conference.about_conference}}</textarea>
                    <label for="floatingInput4">About Conference</label>                            
                  </div>
                </div>
              </div>
              <strong><label style="margin-bottom: 0%; margin-top: 50px;margin-left:20px;color:DodgerBlue;">Important Dates</label></strong>
             
              <div class="row" style="margin-top:10px;">
                <div class="col">
                  <div class="form-floating" style=" text-align:center; margin-left:20px;">
                    <input type="date" name="submissionDeadline" class="form-control" id="floatingInput5" placeholder="Firstname" style="width: fit-content; " value="{{conference.submission_deadline|date:"Y-m-d"}}" required>
                    <label for="floatingInput5">Submission Deadline</label>                            
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating" style=" text-align:center; margin-left:20px;">
                    <input type="date" name="notificationOfAcceptance" class="form-control" id="floatingInput6" placeholder="Firstname" style="width: fit-content;"  value="{{conference.notification_of_acceptance|date:"Y-m-d"}}" required>
                    <label for="floatingInput6">Notification of Acceptance</label>                            
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating" style=" text-align:center; margin-left:20px;">
                    <input type="date" name="registrationDeadline" class="form-control" id="floatingInput7" placeholder="Firstname" style="width: fit-content;" value="{{conference.registration_deadline|date:"Y-m-d"}}" required>
                    <label for="floatingInput7">Registration Deadline</label>                            
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:10px;">
                <div class="col-auto">
                  <div class="form-floating" style=" text-align:center; margin-left:20px;">
                  <input type="date" name="cameraReadyPapers" class="form-control" id="floatingInput8" placeholder="Firstname" style="width: fit-content;" value="{{conference.camera_ready_papers|date:"Y-m-d"}}" required>
                  <label for="floatingInput8">Camera Ready Papers</label>                            
                </div>
                </div>
                <div class="col-auto">
                  <div class="form-floating" style=" text-align:center; margin-left:20px;">
                  <input type="date" name="conferenceDate" class="form-control" id="floatingInput9" placeholder="Firstname" style="width: fit-content;" required value="{{conference.conference_date|date:"Y-m-d"}}">
                  <label for="floatingInput9">Conference Date</label>                            
                </div>
                </div>
              </div>
              <div class="row" style="margin-top: 20px;">
                <div class="form-floating" style=" text-align:center; margin-left:20px;">
                  <input type="text" name="venue" class="form-control" id="floatingInput10" placeholder="Firstname" style="width: 95%;" value="{{conference.conference_venue}}">
                  <label for="floatingInput10" style="margin-left: 10px;">Conference Venue</label>                            
                </div>
              </div>
              
              <strong><label style="margin-bottom: 0%; margin-top: 50px;margin-left:20px;color:DodgerBlue;">Committees</label></strong>
              <center><label style="margin-bottom: 5px;">Add images containing details of various committees</label></center>
              <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
                <div class="form-floating" style=" text-align:center; margin-left:20px;">
                  <input type="file" name="committeeImages" class="form-control" id="floatingInput17" placeholder="Firstname" style="width: 95%" multiple >
                  <label for="floatingInput17" style="margin-left: 10px;">Committee details</label>                            
                </div>
              </div>
              <strong><label style="margin-bottom: 0%; margin-top: 50px;margin-left:20px;color:DodgerBlue;">Images</label></strong>
              <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
                <div class="form-floating" style=" text-align:center; margin-left:20px;">
                  <input type="file" name="conferenceImages" class="form-control" id="floatingInput17" placeholder="Firstname" style="width: 95%" multiple >
                  <label for="floatingInput17" style="margin-left: 10px;">Images related to Conference and Institute</label>                            
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
          </form>
          </div>
        </div>
    </div>

    {% comment %} Modal to add Track {% endcomment %}
    <div class="modal fade dark-modal" id="myModal2" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#a70000;color:#fff;">
              <h5 class="modal-title" style="margin-left:10px;" id="exampleModalLabel">Track Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cl"></button>
            </div>
            <form method="POST" action="/conference/{{conference.id}}/programChair/addTrack/" >
            {% csrf_token %}
              <div class="modal-body" style="overflow-x:hidden;">
                <center>
                  <div class="form-floating" style=" text-align:center; margin-left:20px;margin-bottom:10px;">
                      <input type="text" name="title" class="form-control" id="floatingInput15" placeholder="Firstname" style="width: 95%" required>
                      <label for="floatingInput15">Track Name</label>                            
                  </div>
                  <div class="form-floating" style=" text-align:center; margin-left:20px;margin-bottom:10px;">
                      <textarea type="text" name="subDomains" class="form-control" id="floatingInput15" placeholder="Firstname" style="width: 95%;min-height:100px;" required></textarea>
                      <label for="floatingInput15">Add Sub-domains in proper order</label>                            
                  </div>
                </center>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Track</button>
              </div>
            </form>
          </div>
        </div>
    </div>

    {% comment %} Modal to invite reviewer {% endcomment %}
    <div class="modal fade dark-modal" id="myModal3" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header" style="background-color:#a70000;color:#fff;">
            <h5 class="modal-title" style="margin-left:10px;" id="exampleModalLabel">Invite Reviewer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cl"></button>
          </div>
          <form method="POST" action="/conference/{{conference.id}}/programChair/inviteReviewer/" >
          {% csrf_token %}
            <div class="modal-body" style="overflow-x:hidden;">
              <center>
                <div class="form-floating" style=" text-align:center; margin-left:20px;margin-bottom:10px;">
                    <input type="text" name="reviewer_email" class="form-control" id="floatingInput15" placeholder="Firstname" style="width: 95%" required>
                    <label for="floatingInput15">Enter email-id of the reviewer to be added</label>                            
                </div>
                An invitation mail will be sent to the specified mail-id
              </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock content%}

{% block additional-script %}
<script>
    function openInfo(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        tablinks[i].style.backgroundColor="white"
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
      evt.currentTarget.style.backgroundColor="#ffcbd1";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

{% comment %} code for adding more row on pressing add button {% endcomment %}
/* Variables */
var row = $(".attr");

function addRow() {
  row.clone(true, true).appendTo("#attributes");
}

function removeRow(button) {
  button.closest("div.attr").remove();
}

$('#attributes .attr:first-child').find('.remove').hide();

/* Doc ready */
$(".add").on('click', function () {
  addRow();  
  if($("#attributes .attr").length > 1) {
    //alert("Can't remove row.");
    $(".remove").show();
  }
});
$(".remove").on('click', function () {
  if($("#attributes .attr").length == 1) {
    //alert("Can't remove row.");
    $(".remove").hide();
  } else {
    removeRow($(this));
    
    if($("#attributes .attr").length == 1) {
        $(".remove").hide();
    }
    
  }
});

/* Variables */
var row1 = $(".attr1");

function addRow1() {
  row1.clone(true, true).appendTo("#attributes1");
}

function removeRow1(button) {
  button.closest("div.attr1").remove();
}

$('#attributes1 .attr1:first-child').find('.remove1').hide();

/* Doc ready */
$(".add1").on('click', function () {
  addRow1();  
  if($("#attributes1 .attr1").length > 1) {
    //alert("Can't remove row.");
    $(".remove1").show();
  }
});
$(".remove1").on('click', function () {
  if($("#attributes1 .attr1").length == 1) {
    //alert("Can't remove row.");
    $(".remove1").hide();
  } else {
    removeRow1($(this));
    
    if($("#attributes1 .attr1").length == 1) {
        $(".remove1").hide();
    }
    
  }
});

/* Variables */
var row2 = $(".attr2");

function addRow2() {
  row2.clone(true, true).appendTo("#attributes2");
}

function removeRow2(button) {
  button.closest("div.attr2").remove();
}

$('#attributes2 .attr2:first-child').find('.remove2').hide();

/* Doc ready */
$(".add2").on('click', function () {
  addRow2();  
  if($("#attributes2 .attr2").length > 1) {
    //alert("Can't remove row.");
    $(".remove2").show();
  }
});
$(".remove2").on('click', function () {
  if($("#attributes2 .attr2").length == 1) {
    //alert("Can't remove row.");
    $(".remove2").hide();
  } else {
    removeRow2($(this));
    
    if($("#attributes2 .attr2").length == 1) {
        $(".remove2").hide();
    }
    
  }
});

    </script>
{% endblock additional-script %}

