{% extends 'base.html' %}
{% block title %}Reviewer - KJSIT Conference Management System{% endblock %}

{% block signup_button %}
<div class="signup-button">
  <a class="btn btn-primary btn-lg shadow-lg" href="/logout/" style="margin-right:12px;" role="button">
    Logout
  </a>
  
</div>
{% endblock %}


{% block additional-css %}
.title-column{
  width:500px;
  font-weight:normal;
 }

 @media only screen and (max-width: 430px){
  .main-body{
    display:flex;
    background-color:#f2f2f2;
    justify-content:center;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    flex-wrap:wrap;
  }

 
}
{% endblock additional-css %}
{% block content %}
<div class="row" id="conf-header" style="background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));margin-top:100px;height:350px;">
  <center><h1 style="color:white;margin-top:30px;">{{conference.conferenceTitle}}</h1></center>

</div>  

<div class="main-body" style="display:flex;background-color:#f2f2f2;margin-left:auto;margin-right:auto;width:fit-content;margin-bottom:30px;">
        <div class="tab" style="margin-top:30px;background-color:white;max-width:fit-content;flex:auto;height: max-content;">
            <ul class="nav flex-column">
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event,'pending-reviews') " id="defaultOpen" style="width:250px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-pager"></i>  
                &nbsp;Pending Reviews
              </button>
            </li>
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event, 'past-submissions')" style="width:250px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-list"></i>  
                &nbsp;Past Reviews
              </button>
            </li>
            </ul>
          </div>

        <div class="content-main" style="margin-left:10px;max-width:fit-content;flex:auto;margin-top:30px;background-color:white;">
            <div id="pending-reviews" class="tabcontent">
              {% if not papers %}
              <h3>No papers to be reviewed</h3>
              {% else %}
              {% for paper in papers %}
              <table style="margin-bottom:5px;">
                <tr>
                  <th class="title-column">&nbsp;&nbsp;{{paper.papertitle}}</th>
                  <th style="font-weight:normal;padding-right:30px;">
                    <button type="button" style="margin-top:5px;" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#viewpaperdata{{paper.id}}">
                      Add Review
                    </button>

                    <!-- New Review Modal -->
<div class="modal "  id="viewpaperdata{{paper.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#a70000;color:#fff;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add new review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        &nbsp;&nbsp;Title: {{paper.papertitle}}<br>
       
        <form method="POST" action="submitreview/paper={{paper.id}}/">
          {% csrf_token %}
        <div  style=" display: flex;flex-direction: row;margin-top:10px;"class="form-row">
               
          <div style="width:50%" class="form-floating mx-1 mb-3 ">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="relevance">
              <option selected>.....</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="3">Four</option>
              <option value="3">Five</option>
            </select>
            <label for="floatingSelect">Relevance</label>
          </div>
       
        <div style="width:50%" class="form-floating mx-1 mb-3 ">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="writingstyle">
            <option selected>.....</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="3">Four</option>
              <option value="3">Five</option>
          </select>
          <label for="floatingSelect">Writing Style</label>
        </div>
        <div style="width:50%" class="form-floating mx-1 mb-3 ">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="resultanalysis">
            <option selected>.....</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="3">Four</option>
              <option value="3">Five</option>
          </select>
          <label for="floatingSelect">Result Analysis</label>
        </div>
        </div>

        <div class="form-floating  mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comments" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
        
        <div  style=" display: flex;flex-direction: row;"class="form-row">
               
          <div style="width:50%" class="form-floating mx-1 mb-3 ">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="modeofpreparation">
              <option selected>.....</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="3">Four</option>
              <option value="3">Five</option>
            </select>
            <label for="floatingSelect">Suggested Mode of Preparation</label>
          </div>
       
        <div style="width:50%" class="form-floating mx-1 mb-3 ">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="overallevaluation">
            <option selected>.....</option>
              <option value="1">Reject</option>
              <option value="2">Not sure</option>
              <option value="3">Accept</option>
              
          </select>
          <label for="floatingSelect">Overall Evaluation</label>
        </div>
        </div>

        <div class="form-floating  mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="remarks"></textarea>
          <label for="floatingTextarea2">Confidential remarks for program chair</label>
        </div>
        
      
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>
                  </th>
                </tr>
              </table>
              {% endfor %}
              {% endif %}
              
            </div> 
            <div id="past-submissions" class="tabcontent">
              {% if not reviews %}
              <h3>No reviews yet.</h3>
              {% else %}
              {% for review in reviews %}
              <table style="margin-bottom:5px;">
                <tr>
                  <th class="title-column">&nbsp;&nbsp;{{review.paper.papertitle}}</th>
                  <th style="font-weight:normal;padding-right:30px;">
                    <button type="button" style="margin-top:5px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pastreview{{review.id}}">
                      &nbsp;&nbsp;View&nbsp;&nbsp;
                    </button>

                    <!-- Submitted Reviews Modal-->
<div class="modal " id="pastreview{{review.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#a70000;color:#fff;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        &nbsp;&nbsp;Title: {{review.paper.papertitle}}<br>
        
        &nbsp;&nbsp;Relevance: {{review.relevance}}
        &nbsp;&nbsp;Writing Style: {{review.writingStyle}}
        &nbsp;&nbsp;Result Analysis: {{review.reviewerConfidence}}<br>
        &nbsp;&nbsp;Comments: {{review.comments}}<br>
        &nbsp;&nbsp;Suggested Mode of Preparation: {{review.modeOfPreparation}}<br>
        &nbsp;&nbsp;Overall Evaluation: {{review.score}}<br>
        &nbsp;&nbsp;Confidential remarks for program chair: {{review.confidentialremarks}}<br>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
                  </th>
                </tr>
              </table>
              {% endfor %}
              {% endif %}
            </div> 
        </div> 
     
</div> 





{% endblock content %}
{% block additional-script %}
<script>
    function openInfo(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        tablinks[i].style.backgroundColor="white"
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
      evt.currentTarget.style.backgroundColor="#ffcbd1";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
{% endblock additional-script %}


