{% extends 'base.html' %}

{% block title %}View Conferences - KJSIT Conference Management System{% endblock %}
{% block additional-css %}
@media only screen and (max-width: 430px) {
  .side-bar{
    display:none;
  }
}

@media only screen and (min-width: 430px){
  .navbar-up{
    display:none;
  }
}

{% endblock additional-css %}

{% block content %}
    <div class="row" id="conf-header" style="background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));margin-top:100px;height:300px;">
       <center><h1 style="color:white;margin-top:30px;">((Conference Name))</h1></center>
       <center><div class="btn-group dropend shadow-lg" role="group" style="height:50px;width:100px;border-radius:10px">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Join As
        </button>
        <ul class="dropdown-menu" >
          <li><a class="dropdown-item" href="#">Author</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Reviewer</a></li>
        </ul>
       </div>
    </div>  
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color:#a70000;color:#fff;">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Join as reviewer</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-text">Area of Interests:</span>
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <h2>Conferences</h2>
    {% if conferences %}
        <ul>
            {% for conference in conferences %}
                <li><a href="{% url 'CMS:conference_details' conference.id %}">{{ conference.title }}</a></li>
                <!-- Display other conference details as needed -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No conferences available at the moment.</p>
    {% endif %} {% endcomment %}

    <div class="sec_body" style="background-color:#f2f2f2;">
     <center>
      <div class="row">
       <div class="navbar-up" style="margin-top:12px;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" class="tablinks" onclick="openInfo(event, 'about-conf')" style="border:none;background-color:white;text-align: left;font-size: 20px;height:60px;width:auto;border-bottom: 5px solid red; border-right: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
            <i class="fas fa-home" ></i>
          </button>
          <button type="button" class="btn btn-primary" class="tablinks" onclick="openInfo(event, 'callForpapers')"style="border:none;background-color:white;text-align: left;font-size: 20px;height:60px;width:auto;border-bottom: 5px solid red; border-right: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
            <i class="fas fa-list" ></i> 
          </button>
          <button type="button" class="btn btn-primary" class="tablinks" onclick="openInfo(event, 'dates')" style="border:none;background-color:white;text-align: left;font-size: 20px;height:60px;width:auto;border-bottom: 5px solid red; border-right: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
            <i class="fas fa-calendar" ></i>
          </button>
          <button type="button" class="btn btn-primary" class="tablinks" onclick="openInfo(event, 'committee')" style="border:none;background-color:white;text-align: left;font-size: 20px;height:60px;width:auto;border-bottom: 5px solid red; border-right: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
            <i class="fas fa-people-group" ></i>
          </button>
          <button type="button" class="btn btn-primary" class="tablinks" onclick="openInfo(event, 'photos')"  style="border:none;background-color:white;text-align: left;font-size: 20px;height:60px;width:auto;border-bottom: 5px solid red; border-right: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
            <i class="fas fa-images" ></i>
          </button>
        </div>
       </div>
      </div>  
      <div class="row" style="margin-top:30px;display:flex;flex-wrap:nowrap;margin-right:20px;margin-left:20px;max-width:fit-content;">
       <div class="side-bar" style="flex:25%;max-width:fit-content;" >
        <nav class="nav flex-column">
         <div class="tab" style="margin-top:30px;background-color:white;width:fit-content;height: max-content;">
            <ul class="nav flex-column" >
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event, 'about-conf')" id="defaultOpen" style="width:300px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-home"></i>  
                &nbsp;Home
              </button>
            </li>
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event, 'callForpapers')" style="width:300px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-list"></i>  
                &nbsp;Call For Papers
              </button>
            </li>
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event, 'dates')" style="width:300px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-calendar"></i>
                  &nbsp;Important Dates
              </button>
            </li>
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event, 'committee')" style="width:300px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.3); border-bottom: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-people-group"></i>  
                &nbsp;Committee
              </button>
            </li>
            <li class="nav-item">
              <button class="tablinks" onclick="openInfo(event, 'photos')" style="width:300px;height:60px;border:none;background-color:white;text-align: left;font-size: 20px;border-left: 5px solid red; border-top: 5px solid rgba(231,232,233,0.3); border-bottom: 5px solid rgba(231,232,233,0.5);font-weight:bold;color:#494F55;">
                <i class="fas fa-images"></i>  
                &nbsp;Photos
              </button>
            </li>
            
            </ul>
         </div>
        </nav>
       </div>
       <div class="main-body " style="margin-top:30px;flex:75%;height:fit-content;max-width:600px;">
        <div id="about-conf" class="tabcontent">
         <div class="aboutconference" style="background-color:white;">
            <a style="min-height:60px;text-align: left;font-size: 20px;border-left: 5px solid red;font-weight:bold;font-size:30px;color:red;display:block;">&nbsp;((conference name))</a>
            <div class="text" style="margin:15px;">
              <center>
                <h6 style="text-align:left; padding-bottom:30px;padding-left:10px;padding-right:10px;">
                  ICAST-2023 is the 6th International Conference organized by K. J Somaiya Institute of Technology, Sion,
                  Mumbai in association with University of Mumbai. The aim of the conference is to bring together academicians,
                  researchers, developers, engineers, students, industrial experts and practitioners working in India and abroad 
                  promoting research and developmental activities & scientific information interchange in the field of Computer
                  Sciences, Advances in Signal Processing, Wireless Communications & Networking, Applied Sciences and Humanities
                  and Interdisciplinary Studies to a common forum.The researchers presenting their work and the attendees attending
                  the sessions will have the fine blend of knowledge and information exchange with the latest advancement & future 
                  directions in the mentioned emerging areas as various tracks listed. The conference tracks will be addressed by 
                  international delegates sharing the research and development activities in the field of science and technology under 
                  higher education, worldwide.
                </h6>
              </center>
            </div>
         </div>
         <div class="about-institute"  style="background-color:white;">
          <a style="min-height:60px;text-align: left;font-size: 20px;border-left: 5px solid red;font-weight:bold;font-size:30px;color:red;margin-top:5px;display:block;">&nbsp;About ((Institute name))</a>
          <div class="text" style="margin:15px;"> 
            <center>
              <h6 style="text-align:left;padding-bottom:30px;padding-left:10px;padding-right:10px;">
                K. J. Somaiya Institute of Technology (KJSIT) is one of the reputed engineering institute approved by AICTE, 
                DTE and permanently affiliated to the University of Mumbai. It was established by the Somaiya Trust in the year
                2001, at Sion campus in the heart of Mumbai city, Maharashtra, India. The institute provides quality engineering 
                education in the modern fields of technology disciplines at UG level viz. Computer Engineering, Information Technology,
                Electronics Engineering, Electronics & Telecommunication Engineering and Artificial Intelligence & Data Science and 
                PG in Artificial Intelligence. The institute aims to provide the necessary dynamism in the light of expanding knowledge 
                and changing socio-economic requirements of the modern society.KJSIT is an Autonomous institute further accredited till 
                December 2026 with 'A' Grade by the National Assessment & Accreditation Council (NAAC) of India with the CGPA of 3.21 and 
                three programs of the institute are accredited by National Board of Accreditation, India (NBA) till June 2025.
              </h6>
            <center>
          </div>    
         </div> 
         <div class="venue" style="background-color:white;">
          <a style="min-height:60px;text-align: left;font-size: 20px;border-left: 5px solid red;font-weight:bold;font-size:30px;color:red;margin-top:5px;display:block;">&nbsp;Venue:</a>
          <div class="text" style="margin:15px;"> 
            <center>
              <h6 style="text-align:left;padding-bottom:30px;padding-left:10px;padding-right:10px;">
                ((Venue))
              </h6>
            <center>
          </div>
         </div>
        </div>    
        <div id="callForpapers" class="tabcontent">
          Tracks And Sessions
        </div> 
        <div id="dates" class="tabcontent">
          <div class="imp_dates" style="background-color:white;">
            <a style="min-height:60px;text-align: left;font-size: 20px;border-left: 5px solid red;font-weight:bold;font-size:30px;color:red;margin-top:5px;display:block;">&nbsp;Schedule:</a>
            <div class="text" style="margin:15px;"> 
              <center>
              <div style="overflow-x:auto">
                <table style="text-align:left;padding-bottom:30px;padding-left:10px;padding-right:10px;">
                  <tr>
                    <td>Events</td>
                    <td>Dates</td>
                  </tr>
                  <tr>
                    <td>Deadline for Submission of Papers</td>
                    <td>((Date))</td>
                  </tr>
                  <tr>
                    <td>Notification of Acceptance</td>
                    <td>((Date))</td>
                  </tr>
                  <tr>
                    <td>Last Date of Registration</td>
                    <td>((Date))</td>
                  </tr>
                  <tr>
                    <td>Camera Ready Papers</td>
                    <td>((Date))</td>
                  </tr>
                  <tr>
                    <td>Conference Date</td>
                    <td>((Date))</td>
                  </tr>
                </table>
              </div>
              <center>
            </div>
          </div>
        </div>
        <div id="committee" class="tabcontent">
            committee
        </div>
        <div id="photos" class="tabcontent">
             Images
        </div>
       </div>
      </div>
    </center>
   </div>
{% endblock %}
{% block additional-script %}
<script>
    function openInfo(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        tablinks[i].style.backgroundColor="white"
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
      evt.currentTarget.style.backgroundColor="#ffcbd1";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
{% endblock additional-script %}

